<!DOCTYPE html>
<html lang="en" class="no-js">
{% load static from staticfiles %}
<head>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

    <link rel="stylesheet" type="text/css" href="{% static 'css/album/component.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/perfil/perfil.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/album/album.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav/nav.css' %}">
    <script src="{% static 'js/album/modernizr.custom.js' %}"></script>

    <!--[if lte IE 7]><style>.support-note .note-ie{display:block;}</style><![endif]-->
</head>
<body onload="imageCrop()">
{% include 'menu.html' %}
{% include 'portada.html' %}
<div class="contenedor">

    <div class="contenido">
        <div class="titulo-informacion">
            <img src="{% static 'iconos/picture.svg' %}">

            <p id="titulo"></p>
        </div>
    </div>

    {% if lista.album.tipo == 'N' %}
        <div class="contenido">
            <div class="titulo-informacion">
                <a href="{% url "eliminar_album" lista.album.id %}">
                    <div class="eliminar-album">
                        Eliminar esté álbum
                    </div>
                </a>
            </div>
        </div>
    {% endif %}

    <section class="grid-wrap">
        <ul class="grid swipe-right" id="grid">
            <li class="agregar">
                <a href="#" data-toggle="modal" data-target="#myModal">
                    <img src="{% static 'images/mas.svg' %}">
                </a>
            </li>
            {% for foto in lista.fotos %}
                <li>
                    <a class="div-foto" href={% url "foto" foto.foto.id %}>
                        <img class="foto-album" src="{% static foto.foto.imagen.url %}">
                    </a>
                </li>
            {% endfor %}
        </ul>
    </section>

</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Agregar Foto</h4>
            </div>
            <div class="modal-body">
                <form id="user_form" class="form-signin span8" method="post"
                      enctype="multipart/form-data" action="{% url "subir_foto_album" %}" onsubmit="return validar(this);">

                    <h2 class="form-signin-heading">Suba su imagen</h2>

                    {% csrf_token %}
                    <div class="grupo-formulario">
                        <label for="foto-evento">Foto de perfil del evento</label>

                        <div class="btn btn-warning file">
                            <p style="position: absolute">Seleccionar Imagen</p>
                            {% for field in form %}
                                {{ field }}

                            {% endfor %}
                        </div>


                    </div>
                    <input type="hidden" name="album" value="{{ lista.album.id }}">
                    <input class="btn btn-primary" type="submit" name="submit" value="Subir"/>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- /container -->
<script src="{% static 'js/jquery.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/album/masonry.pkgd.min.js' %}"></script>
<script src="{% static 'js/album/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/album/classie.js' %}"></script>
<script src="{% static 'js/album/colorfinder-1.1.js ' %} "></script>
<script src="{% static 'js/album/gridScrollFx.js' %}"></script>
<script>
    new GridScrollFx(document.getElementById('grid'), {
        viewportFactor: 0.4
    });
</script>

<script>
    var nombre = "{{ lista.album.nombre }}".split(" ");
    var texto = "";
    for (var i = 0; i < nombre.length; i++) {
        if (i == nombre.length - 1) {
            texto += "<span>" + nombre[i] + "</span>";
        } else {
            texto += nombre[i] + " ";
        }
    }
    $('#titulo').html(texto);

</script>

<script src="{% static "js/image-crop.js" %}"></script>
<script type="text/javascript" src="{% static 'js/extension.js' %}"></script>
</body>

</html>
