<!DOCTYPE html>
<html lang="es">
{% load static from staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Foto</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/nav/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/album/foto.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>

</head>
<body onload="cargarFotoSizer();">
{% include 'menu.html' %}
<div class="container">
    <div class="contenedor-foto">
        <div class="opciones-top">
            <ul class="nav">
                <li><a class="pull-left" href="{% url 'ver_album' usuario.id paginator.0.album.id %}">Volver al Albúm</a></li>
                {% if paginator.has_next %}
                    <li><a class="pull-right visible-xs" href="?page={{ paginator.next_page_number }}"><span
                        class="glyphicon glyphicon-circle-arrow-right"></span></a>
                    <a class="pull-right hidden-xs" href="?page={{ paginator.next_page_number }}">Siguiente</a>
                {% endif %}

                {% if paginator.has_previous %}
                    <li><a class="pull-right visible-xs" href="?page={{ paginator.previous_page_number }}"><span
                            class="glyphicon glyphicon-circle-arrow-left"></span></a><a class="pull-right hidden-xs"
                                                                                        href="?page={{ paginator.previous_page_number }}">Anterior</a>
                    </li>
                {% endif %}
            </ul>
        </div>

        <div class="div-foto">
            <img id="foto" src="{% static paginator.0.imagen.url %}">
        </div>

    </div>
</div>

<script type="text/javascript" src="{% static 'js/foto.js' %}"></script>

</body>
</html>