<!DOCTYPE html>
<html lang="en">
{% load static from staticfiles %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Amigos</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/nav/nav.css' %}">
    <link rel="stylesheet" href="{% static 'css/amigos/solicitudesamigos.css' %}">
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/ajax.js' %}"></script>
</head>
<body onload="imageCrop()">

{% include 'menu.html' %}

<div class="contenedor container">
    <div class="row">
        <div class="titulo">
            Solicitudes de Amistad Pendientes
        </div>
        <div id="resultado_amigos">
            <div class="columna-solicitudes col-lg-6">
                <ul class="nav-solicitudes nav nav-stacked">

                    {% for i in izquierda %}
                        <li>
                            <div class="solicitud">

                                <div class="div-avatar">
                                    <a href="{% url "ver_usuario" i.contacto.fuente.pk %}">
                                        <img class="img-avatar" src="{{ i.foto.imagen.url }}" alt="">
                                    </a>
                                </div>

                                <a href="{% url "ver_usuario" i.contacto.fuente.pk %}">
                                    <p class="nombre">{{ i.contacto.destino.user.first_name }} {{ i.contacto.destino.user.last_name }}</p>
                                </a>

                                <a class="aceptar hidden-xs" href="{% url "aceptar_amigo" i.contacto.fuente.pk %}">
                                    Aceptar Solicitud
                                    <span class="glyphicon glyphicon-ok-sign"></span>
                                </a>

                                <a class="rechazar hidden-xs" href="{% url "eliminar_contacto" i.contacto.pk %}">
                                    Rechazar Solicitud
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </a>

                                <a class="aceptar visible-xs" href="{% url "aceptar_amigo" i.contacto.fuente.pk %}">
                                    <span class="glyphicon glyphicon-ok-sign"></span>
                                </a>

                                <a class="rechazar visible-xs" href="{% url "eliminar_contacto" i.contacto.pk %}">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </a>

                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="columna-solicitudes col-lg-6">
                <ul class="nav-solicitudes nav nav-stacked">

                    {% for i in derecha %}
                        <li>
                            <div class="solicitud">
                                <div class="div-avatar">
                                    <a href="{% url "ver_usuario" i.contacto.destino.pk %}">
                                        <img class="img-avatar" src="{{ i.foto.imagen.url }}" alt="">
                                    </a>
                                </div>
                                <a href="{% url "ver_usuario" i.contacto.destino.pk %}">
                                    <p class="nombre">{{ i.contacto.destino.user.first_name }} {{ i.contacto.destino.user.last_name }}</p>
                                </a>
                                <a class="aceptar hidden-xs" href="#">
                                    Aceptar Solicitud
                                    <span class="glyphicon glyphicon-ok-sign"></span>
                                </a>

                                <a class="rechazar hidden-xs" href="#">
                                    Rechazar Solicitud
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </a>

                                <a class="aceptar visible-xs" href="#">
                                    <span class="glyphicon glyphicon-ok-sign"></span>
                                </a>

                                <a class="rechazar visible-xs" href="#">
                                    <span class="glyphicon glyphicon-remove-sign"></span>
                                </a>

                            </div>
                        </li>
                    {% endfor %}

                </ul>
            </div>
        </div>
    </div>
</div>

<script src="{% static "js/image-crop.js" %}"></script>
</body>
</html>